<!--
  This is our template html.
  This HTML will be included in all of our pages.
  It allows us to have this code in 1 place and not have to update for each page.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Discord Bot</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="dark-mode">
    <header>
      <h1>Discord Bot</h1>
    </header>
    <button class="toggle-darkmode">Toggle Darkmode</button>
    <nav class="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    <!--
      Here is where the code for our page gets put.
    -->
    <main><%- body %></main>
    <script src="/main.bundle.js"></script>
  </body>
</html>
