<!--
  This is the code for our about page.
  All of the HTML you see here will be put inside our template
  located at views/templates/page.ejs
-->
<p>The bot was made by the Creative Technology Studio at Artists For Humanity.</p>
