<div class="home-page-grid">
  <section>
    <h2>Holidays</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Start Date</th>
        </tr>
      </thead>
      <tbody>
        <% holidays.forEach((holiday) => { %>
          <%-
            include('../components/holiday-table-row', {
              name: holiday.name,
              startDate: holiday.startDate,
              id: holiday.id
            })
          %>
        <% }) %>
      </tbody>
    </table>
  </section>
  <section>
    <h2>Meetings</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Zoom Link</th>
          <th>Date</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% meetings.forEach((meeting) => { %>
          <%-
            include('../components/meeting-table-row', meeting)
          %>
        <% }) %>
      </tbody>
    </table>
    <section>
      <h2>Add Meeting</h2>
      <%- include('../components/new-meeting-form') %>
    </section>
    <section>
    <h2>Latest Meeting</h2>
    </section>
  </section>
  <section>
    <h2>Add Holiday</h2>
    <%- include('../components/new-holiday-form') %>
  </section>
</div>
