<div class="home-page-grid">
  <section>
    <h2>Holidays</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% holidays.forEach((holiday) => { %>
          <%-
            include('../components/holiday-table-row', {
              name: holiday.name,
              date: holiday.date,
              id: holiday.id
            })
          %>
        <% }) %>
      </tbody>
    </table>
  </section>
  <section>
    <h2>Add Holiday</h2>
    <%- include('../components/new-holiday-form') %>
  </section>
</div>
